@import "tailwindcss";

@theme {
  --color-brand-purple: #8a2695;
  --color-brand-purple-dark: #6a1d72;
  --color-brand-gray: #4b5563;
  --color-brand-gray-dark: #1f2937;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

